Loops
there are two types of loop 
1. For Loop 
2. WHile Loop

for loop is used for intreations
while loop is used for repetations

in for loops
iteration perform on datatypes
no need to add stop condition it automatically terminate the loop after execution  

Iteration (procedure)
Iterator  (the one who performs iteration)
Iterable   (datatypes on which iteration can be performed)

iteration is possible only on collection of elements
iteration is perfromed only on datatypes which supports indexing

In [3]:
s = "ITVedant"
for i in s:
    print(i)

I
T
V
e
d
a
n
t

In [8]:
l = [1,2,3,4,"h"]
for i in l:
    print(i, end="") #for horizontal output

1234h

output of range is gets stored in tuple ( )

In [1]:
#print numbers from 2 to 20 
for i in range(2,21):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
#accept number from user and print table for that number
x= int(input())
for i in range(1,11):
    
    print(x ,"*", i ,"=" , x*i)

 329

329 * 1 = 329
329 * 2 = 658
329 * 3 = 987
329 * 4 = 1316
329 * 5 = 1645
329 * 6 = 1974
329 * 7 = 2303
329 * 8 = 2632
329 * 9 = 2961
329 * 10 = 3290

In [21]:
l = [1, 2, 4, 6, 8, 10, 13, 15]

for i in l:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [13]:
l = "India"

for i in l:
    print(i, end="_")

I_n_d_i_a_

In [14]:
a = input()
count = 0
for i in a:
    count = count + 1
print(count)

 qwertyuiopasdfghjk

18

In [12]:
#find out the factorial of given number 

a = int(input("enter number: "))
f = 1

for i in range(1, a+1):
    f = f * i

print("Factorial of",a,"is: ",f)

enter number:  10

Factorial of 10 is:  3628800

In [90]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [89]:
for i in range(10,-1,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1 0

In [1]:
#summation of n natural numbers

n = int(input("Enter number:"))
sum = 0

for i in range(1,n+1):
    sum = sum + i


print("Summation of first" , n , "natural numbers is:" ,sum)

Enter number: 10

Summation of first 10 natural numbers is: 55

In [152]:
#number entered by user in reverse order and addition of that digit

a = (input("Enter number:"))

d = a[::-1]
print("Reverse of", a , "is:",d)
ad = 0
for i in a:
    ad = ad + int(i)

print("Addition of numbers:",ad)

Enter number: 12345

Reverse of 12345 is: 54321
Addition of numbers: 15

In [7]:
a = (input())
ad = 0 
for i in(a):
    ad = ad+int(i)

print(ad)

 32

5

In [303]:
#check whtether the given number is armstrong or not
a = (input())
ar = 0
d = len(a)

for i in a:
   ar = ar + int(i) ** d

print(ar)

if int(a) == ar:
    print("Entered number is an armstrong number")

else:
    print("Not an armstrong number")

 153

153
Entered number is an armstrong number

In [1]:
#Write a Python program to calculate the average of numbers in a list.

a = (input("Enter numbers:")).split()
#b = a.split(" ")

sum = 0 
for i in a:
    sum = (sum + int(i))

print("Summation is:",sum)

Enter numbers: 4 5 6

Summation is: 15

In [239]:
## Extract child from this variable

j = {"info":{"family1": {
              "adult":["a","b","c"], 
              "child":["x","y","z"],
              "senior": ["t","u","v"]},
             
             "family2": {
                 "adult":["aa","bb","cc"],
                 "child":["xx","yy","zz"], 
                 "senior":["tt","uu","vv"]},
             
             "family3": {
                 "adult":["aaa","bbb","ccc"],
                 "child":["xxx","yyy","zzz"], 
                 "senior":["ttt","uuu","vvv"]}}}

for i in j.values():
    for l in i.values():
        print(l["child"][-1])

z
zz
zzz

In [305]:
l=[]

for i in range(4):
    a = int(input())
    l.append(a)
print(l)
s = 0
for i in l: 
        s = s + i
print(s)

 1
 2
 3
 4

[1, 2, 3, 4]
10

In [246]:
l=[]

for i in range(10):
    a = int(input())
    l.append(a)
print("List of age is: ",l)
print("maximum age is: ",max(l))
print("Minimum age is: ",min(l))

 2
 3
 4
 5
 6
 7
 423
 45
 5
 654

List of age is:  [2, 3, 4, 5, 6, 7, 423, 45, 5, 654]
maximum age is:  654
Minimum age is:  2

In [249]:
j = {"info":{"family1": {
              "adult":["a","b","c"], 
              "child":["x","y","z"],
              "senior": ["t","u","v"]},
             
             "family2": {
                 "adult":["aa","bb","cc"],
                 "child":["xx","yy","zz"], 
                 "senior":["tt","uu","vv"]},
             
             "family3": {
                 "adult":["aaa","bbb","ccc"],
                 "child":["xxx","yyy","zzz"], 
                 "senior":["ttt","uuu","vvv"]}}}

for i in j.values():
    for l in i.values():
        l["senior"][-1]="abc"
        print(l)

{'adult': ['a', 'b', 'c'], 'child': ['x', 'y', 'z'], 'senior': ['t', 'u', 'abc']}
{'adult': ['aa', 'bb', 'cc'], 'child': ['xx', 'yy', 'zz'], 'senior': ['tt', 'uu', 'abc']}
{'adult': ['aaa', 'bbb', 'ccc'], 'child': ['xxx', 'yyy', 'zzz'], 'senior': ['ttt', 'uuu', 'abc']}

In [1]:
a = int(input())
for i in range(a+1):
    print(int(i)*"*")

 4

*
**
***
****

In [3]:
a = int(input())
for i in range(a):
    for j in range(i+1):
        print('*',end='')
    print()

 5

*
**
***
****
*****

In [291]:
a = int(input())

for i in range(a):
    for j in range(i+1):
        print("*",end="")
    print()

 5

*
**
***
****
*****

In [302]:
a = int(input())
for i in range(1,a+1):
    for j in range(a-i):
        print(" ",end="")
    for k in range(i):
        print("*",end="")
    print()

 5

    *
   **
  ***
 ****
*****

In [306]:
a = int(input())

for i in range(a):
    for j in range(i+1):
        print(i+1,end="")
    print()

 5

1
22
333
4444
55555

In [286]:
a = int(input())

for i in range(a):
    print()
    for j in range(i,a):
        print("*",end="")

 5

*****
****
***
**
*

In [324]:
a = int(input())

for i in range(1,a+1):
    for j in range(a-i):
        print(" ",end="")
    for k in range(i):
        print(i,end="")
    print()

 5

    1
   22
  333
 4444
55555

In [325]:
a = int(input())

for i in range (a,0,-1):
    print(i*"*")

 5

*****
****
***
**
*

In [352]:
a = int(input())

for i in range(a+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

 4

1
2 2
3 3 3
4 4 4 4

In [344]:
a = int(input())

for i in range(a,0,-1):
    for j in range(0,i):
        print(i,end="")
    print()

 6

666666
55555
4444
333
22
1

In [340]:
a = int(input())

for i in range(a,0,-1):
    for j in range(0,i):
        print("x",end="")
    print()

 5

xxxxx
xxxx
xxx
xx
x

In [361]:
a = int(input())

for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [369]:
a = int(input())

for i in range(a,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

 5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [374]:
a = 4

for i in range(1,a+1):
    for j in range(a):
        print("x",end="")
    print()

xxxx
xxxx
xxxx
xxxx

In [487]:
a = int(input())

for i in range(1,a+1):
    for j in range(a):
        print("*",end=" ")
    print()

 10

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [486]:
a = int(input())

for i in range(1,a+1):
    for j in range(a):
        print("*",end="")
    print()

 10

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [485]:
a = int(input())
count_even = 0
count_odd = 0
even = []
odd = []
for i in range(1,a+1):
    if i%2==0:
        even.append(i)
        #print(i,end=" ")
        count_even = count_even + 1
    else :
        odd.append(i)
        count_odd = count_odd + 1
        
print("even numbers",even)
print("count of even",count_even)
print("odd numbers",odd)
print("count of odd",count_odd)

 53

even numbers [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52]
count of even 26
odd numbers [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53]
count of odd 27

In [446]:
l = ["hello", True, False, "abc", 1, 2, 3, 4, 1.5, 3.5, 6.5, "India"]
l1 = []
l2 = [] 
l3 = []
l4 = [] 

for i in (l):
    if type(i)== str:
        l1.append(i)
    elif type(i) == int:
        l2.append(i)
    elif type(i) == bool:
        l3.append(i)
    elif type(i) == float:
        l4.append(i)
        

print("String:",l1)
print("Integer:",l2)
print("Boolean:",l3)
print("Float:",l4)

String: ['hello', 'abc', 'India']
Integer: [1, 2, 3, 4]
Boolean: [True, False]
Float: [1.5, 3.5, 6.5]

In [483]:
a = {
    "a":[1,2,3.5,6],
    "b":[7.8,6.9,10,12],
}

l1 = []
l2 = []

for i in a.values():
    for j in i:
        if type(j)==int:
            l1.append(j)
        else:
            l2.append(j)
print(l1)
print(l2)

[1, 2, 6, 10, 12]
[3.5, 7.8, 6.9]

In [4]:
x = 10
if x>5:
    print("a")
elif x>8:
    print("b")
if x>12:
    print("c")
else:
    print("d")

a

In [ ]:
x = 10
if x>5:
    print("a")
elif x>8:
    print("b")

else:
    print("d")

18 June 2024

In [8]:
#pass means nothing but it will avoid the errors due to the incomplete program 
for i in range(5):
    pass

In [10]:
#continue is used to skip a particular iteration or skip a particular step

for i in range(5):
    if i == 2:
        continue
    else:
        print(i)

0
1
3
4

In [20]:
for i in range(5):
    if i == 2:
        pass
        print(i)

2

In [22]:
for i in range(5):
    if i == 2:
        continue
        print(i)

In [30]:
s = "Hello world, How are you?"

for i in s:
    if i == "o":
        continue
    else:
        print(i,end="")

Hell wrld, Hw are yu?

In [34]:
for i in range(1,51):
    if i%2 != 0:
        continue
    else:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [61]:
a = "Hello world, How are you?"
v=["a","e","i","o","u"]
s = ""
for i in a:
    if i in v:
        continue
    else:
        s = s + i

print(s)

Hll wrld, Hw r y?

In [2]:
#break 
for i in range(100):
    print(i)
    if i ==5:
        break

0
1
2
3
4
5

In [6]:
#break 
for i in range(100):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [8]:
f = ["apple","mango","cherry","lichi","banana","pineapple","grapes"]

for i in(f):
    if i == "banana":
        continue
    else:
        print(i)

apple
mango
cherry
lichi
pineapple
grapes

In [9]:
f = ["apple","mango","cherry","lichi","banana","pineapple","grapes"]

for i in(f):
    print(i)
    if i == "banana":
        break

apple
mango
cherry
lichi
banana

In [10]:
f = ["apple","mango","cherry","lichi","banana","pineapple","grapes"]

for i in(f):
    
    if i == "banana":
        break
    print(i)

apple
mango
cherry
lichi